@import "color";
@import "icon";
@import "vuetify";
@import "utilities";

html:not(.mac)::-webkit-scrollbar,
html:not(.mac) *::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

@media (min-width: 992px) {
  .custom-container {
    max-width: 960px;
  }
}

@media (min-width: 1260px) {
  .custom-container {
    max-width: 1140px;
  }
}
