.full-width {
  width: 100% !important;
}

//Text
.white1--text {
  color: $white1 !important;
}

//Font weight
.font-weight--600 {
  font-weight: 600 !important;
}

//Border
.border-radius--small {
  border-radius: 0.375rem !important;
}

//Cursor
.cursor--pointer {
  cursor: pointer !important;
}

//Others
.dropdown-arrow-append::after {
  content: "";
  border: none;
  vertical-align: unset;
  height: 0.4em;
  width: 0.4em;
  border-top: 1px solid;
  border-right: 1px solid;
  transform: rotate(135deg);
  margin-left: 0.5rem;
  margin-top: -0.28571em;
  transition: none;
}
